@import "../page.module.scss";

// SEARCH RESULTS
.categories-list {
	padding-top: 16px;
	padding-bottom: 16px;
	cursor: default;
	text-overflow: ellipsis;
	overflow: hidden;
}
.category {
	font-size: $font-medium;
	overflow: hidden;
   display: -webkit-box !important;
   -webkit-line-clamp: 1; /* number of lines to show */
           line-clamp: 1; 
   -webkit-box-orient: vertical;
}
.search-result-container {
	background-color: $color-white;
	padding-bottom: $padding-big;
}
.search-result {
	display: flex;
	flex-direction: column;
}
.search-result-item {
	padding-top: $padding-small;
	padding-bottom: $padding-small;
	min-height: 180px;
}
.item-picture {
	border-radius: 5px;
	object-fit: contain;
  max-width: 100%;
}
.item-picture-wrapper {
	border: 1px solid $color-grey-100;
	border-radius: 5px;
}
.item-title {
	margin-top: $padding-big;
}
.item-address {
	display: flex;
	flex-grow: 1;
	justify-content: center;
}

a {
	text-decoration: none;
	color: $color-black;
}

// ITEM DETAIL
.item-detail-picture{
	padding: $padding-small
}
.item-detail-info {
  padding-top: $padding-big;
  padding-right: $padding-big;
	padding-left: $padding-big;
	flex-grow: 1;
}
.item-price {
  font-size: $font-xxxlarge !important;
  font-weight: bold;
  margin-top: $padding-big;
  margin-bottom: $padding-big;
}
.item-detail-title{
  font-size: $font-xxlarge !important;
  font-weight: bold;
  margin-top: $padding-small;
}
.item-info-col{
  display: flex;
  flex-grow: 1;
}
.item-description{
  padding: $padding-big;
	overflow-wrap: break-word !important;
}
.item-description-text{
  font-size: $font-regular !important;
  margin-top: $padding-big !important;
}
.item-detail-row{
	display: flex;
	justify-content: center;
}


@media (max-width: 1000px) {
	
	.item-detail-row{
		display: flex;
		flex-direction: column;
		flex-direction: column-reverse;
	}
}

@media (max-width: 768px) {
	.item-price{
		font-size: $font-xxlarge !important;
	}
	.item-detail-title{
		font-size: $font-xlarge !important;
	}
	.item-description{
		padding: $padding-small;
	}
	.item-detail-picture{
		max-height: 420px; 
	}
	.item-info {
		margin-left: $padding-small;
	}
	.item-picture-wrapper {
		display: flex;
		justify-content: center;
	}
  .item-detail-info{
    padding: $padding-small;
  }
}
